{% load staticfiles %}
		<div class="container-fluid">
			<div class = "row footer social">
				<div style = "text-align:center;" class="col-lg-4 col-sm-12 ">
					<a href="/" >
						<img  src="{% static 'img/logo2.png' %}" alt="logo" height="200px">
					</a>
				</div>
				<div class="col-lg-4 col-sm-12 ">
					<p></p>
				</div>
				<div style = "text-align:center" class="col-lg-4 col-sm-12 ">
					<h2 >Connect</h2>
					<img class = "social" style = "padding:6px; " src="{% static 'img/SocialMedia/facebook.png' %}" alt="facebook" height="70">
					<img class = "social" style = "padding:7px; " src="{% static 'img/SocialMedia/twitter.png' %}" alt="twitter" height="70">
					<img class = "social" style = "padding:7px; " src="{% static 'img/SocialMedia/instagram.png' %}" alt="instagram" height="70">
					<img class = "social" style = "padding:7px; " src="{% static 'img/SocialMedia/google.png' %}" alt="google+" height="70">
					<img class = "social" style = "padding:7px; " src="{% static 'img/SocialMedia/snapchat.png' %}" alt="snapchat" height="70">
				</div>
				<hr/>
			</div>
			<div style="text-align:center; padding:20px" class="row footer">
					<div class="col-lg-4 col-sm-12">
						<h3 >Website map</h3>
						<ul>
							<li>Home</li>
							<li>What's On</li>
						</ul>
					</div>
					<div class="col-lg-4 col-sm-12 ">
						<h3>Legal</h3>
					</div>
					<div class="col-lg-4 col-sm-12">
						<h3>About Toucan</h3>
					</div>
			</div>
		</div>
	</body>
</html>
