{% load staticfiles %}
{% include "navbar.html" %}
		<div class="container-fluid" >
			<div class="row" >
				<div class="col-sm-12">
					<div id="homeCarousel" class="carousel slide" data-ride="carousel">
						<!-- Indicators -->
						<ol class="carousel-indicators">
							<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
							<li data-target="#myCarousel" data-slide-to="1"></li>
							<li data-target="#myCarousel" data-slide-to="2"></li>
						</ol>

						<!-- Wrapper for slides -->
						<div class="carousel-inner" >
							<div class="item active carousel_pic"  >
							<img src="{% static 'img/slide_1.jpg' %}" alt="Popcorn">
							<div class="carousel-caption">
								<h1>Cheap Popcorn</h1>
								<p>There is never enough!</p>
							</div>
							</div>

							<div class="item carousel_pic">
							<img src="{% static 'img/slide_2.jpg' %}" alt="Cinema">
							<div class="carousel-caption">
								<h1>New cinema seats</h1>
								<p>get comfy!</p>
							</div>
							</div>

							<div class="item carousel_pic">
							<img src="{% static 'img/slide_3.jpg' %}" alt="Movie">
							<div class="carousel-caption">
								<h1>Newest releases</h1>
								<p>Checkout our what's new section</p>
							</div>
							</div>
						</div>

						<!-- Left and right controls -->
						<a class="left carousel-control" href="#homeCarousel" data-slide="prev">
							<span class="glyphicon glyphicon-chevron-left" ></span>
							<span class="sr-only">Previous</span>
						</a>
						<a class="right carousel-control" href="#homeCarousel" data-slide="next">
							<span class="glyphicon glyphicon-chevron-right"></span>
							<span class="sr-only">Next</span>
						</a>
					</div>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="jumbotron jumbotron-homepage">
					<h1>New Releases</h1>
					<p>Check what new movies have appeared in our cinema this week</p>
				</div>
				{% for movie in latest_movies %}
				<div class="col-lg-3 col-sm-6 col-xs-12 movie-tile-no-time">
					<a href="#">
						<div class=" movie-tile-no-time">
							<div class="image-wrapper">
								<img src="{% static movie.cover %}">
								<div class="book-now">Book Now</div>
							</div>
							<div class="movie-tile-no-time-inner">
								<h1>{{ movie.title }}</h1>
							</div>
						</div>
					</a>
				</div>
				{% endfor %}
			</div>
{% include 'footer.html' %}
