{% load staticfiles %}
{% include "navbar.html" %}

<div class="container">
	<h1>Your profile</h1>
	<hr>
</div>

<div class="container">
	<h4><b>Username:</b> {{user}}</h4>
	<h4><b>email:</b>{{user.email}}</h4>
</div>

<div class="container">
	<h3>Purchase History</h3>
	<table class="table">
		<thead>
			<tr>
				<th>Ticket ID</th>
				<th>Movie</th>
				<th>Screen</th>
				<th>Date</th>
				<th>Time</th>
			</tr>
		</thead>
		<tbody>
		{% for ticket in tickets%}
		<tr>
			<td>{{ticket.id}}</td>
			<td>{{ticket.movie_id.title}}</td>
			<td>{{ticket.screening_id.screen_id.id}}</td>
			<td>{{ticket.screening_id.date}}</td>
			<td>{{ticket.screening_id.time}}</td>
		</tr>
		{% endfor %}

		</tbody>
	</table>
</div>
{% include 'footer.html' %}
