.simpleHR{

}
.movie-tile-no-time hr{
	border: 2px solid #ddd !important;
	box-shadow: 0px -3px 10px -1px #000;
}


/* ------------------- Navbar Styling --------------------- */

.navbar-logo{
	height: 40px;
	display: inline-block;
	margin-top:5px;
}
/* ------------------- Carousel Styling ------------------- */

.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
	display: block;
	width: 100%;
	height: auto;
	max-height: 600px;
	object-fit: cover;
	object-position: top;
}

.carousel-caption{
	background-color:  rgba(0,0,0,0.3)
}

/* ------------------- Movie Tiles ------------------- */
.movie-tile-no-time-wrap{
	text-align: center;
}
.movie-tile-no-time{
	position: relative;
	display: inline-block;
	margin: 10 auto;
	width: 100%;
	text-align: center;
	word-wrap: normal;
}
.movie-tile-no-time > img{
	display: block;
	width: 100%;
	height: auto;
	object-fit: cover;
	object-position: top;
	box-shadow: 0px 10px 15px -8px #999;
}
.movie-tile-no-time-inner{
	width: 100%;
	word-wrap: normal;
}
.movie-tile-no-time .image-wrapper:hover .book-now{
	opacity: 100;
}
.book-now{
	opacity: 0;
	text-shadow: 1px 1px #636363;
	box-shadow: inset 0px -51px 38px -20px #ff8100;
	color:white;
	font-size: 50px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	text-align: center;
	font-weight: bold;
	-webkit-transition: opacity 0.3s ease-out;
	-moz-transition: opacity 0.3s ease-out;
	-o-transition: opacity 0.3s ease-out;
	transition: opacity 0.3s ease-out;
}

.image-wrapper{
	padding: 0px;
	margin: 0px;
	position: relative;
	width:auto;
	display: inline-block;
}
/* ------------------- Jumbotron homepage ------------------- */
.jumbotron-homepage {
	color:white !important;
	text-align: center;
	border-radius: 0px !important;
	background-color: rgba(227, 123, 15,1) !important;
	box-shadow:inset 0px 0px 30px 10px rgba(173, 88, 0, 0.3) !important;
}

.jumbotron-whatson{

}
/* ------------------- Social Links ------------------- */
.socialFooter{
	text-align: center;
	width: 100%;

	padding: 50px auto;
	background: #262626;
}
.socialFooter {
	-webkit-filter: brig(100%); /* Safari 6.0 - 9.0 */
	filter: brightness(100%);
	-webkit-transition:  0.3s ease-out;
	-moz-transition:  0.3s ease-out;
	-o-transition:  0.3s ease-out;
	transition: 0.3s ease-out;
}
.social{
	color: blue;
	width: 20%;
	height: 20%;
	max-width: 60px;
	max-height: 60px;
	margin: 15px 5px;
}
.social img {

}
.social img:hover {

}

.infoFooter{
	background: #141414;
	color: white;
	padding-top: 10px;
	font-size: 14px;
}
.footerList{
	padding: 0;
	list-style: none;
	background:#141414;
}


.logoFooter{
	background: #141414;
}
.logoFooter img{
	margin: auto;
	width: 10%;
	height: 10%;
}

/* ------------------- login/register -------------------------- */

}
.panel-login {
	border-color: #ccc;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}
.panel-login>.panel-heading {
	color: #00415d;
	background-color: #fff;
	border-color: #fff;
	text-align:center;
}
.panel-login>.panel-heading a{
	text-decoration: none;
	color: #666;
	font-weight: bold;
	font-size: 15px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
	color: #029f5b;
	font-size: 18px;
}
.panel-login>.panel-heading hr{
	margin-top: 10px;
	margin-bottom: 0px;
	clear: both;
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
	background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
	height: 45px;
	border: 1px solid #ddd;
	font-size: 16px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
	outline:none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-color: #ccc;
}
.btn-login {
	background-color: #59B2E0;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #59B2E6;
}
.btn-login:hover,
.btn-login:focus {
	color: #fff;
	background-color: #53A3CD;
	border-color: #53A3CD;
}
.forgot-password {
	text-decoration: underline;
	color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
	text-decoration: underline;
	color: #666;
}

.btn-register {
	background-color: #1CB94E;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #1CB94A;
}
.btn-register:hover,
.btn-register:focus {
	color: #fff;
	background-color: #1CA347;
	border-color: #1CA347;
}


/* ------------------- footer -------------------------- */
footer{
	background:#141414;
}
